body {
    margin: 0;
    padding: 0;
    height: 100%;
}
h1 {
    vertical-align: middle;
    line-height: normal;
    font-weight: normal;
    font-size: 48px;
    font-style: oblique;
    color: #3C3638;
    font-family: 'Poiret One', cursive;
    margin-bottom: 0;
}
h2 {
    display: block;
    vertical-align: middle;
    line-height: normal;
    font-weight: normal;
    font-size: 40px;
    font-style: oblique;
    color: #3C3638;
    font-family: 'Poiret One', cursive;
    margin-bottom: 50px;
}
h3 {
    vertical-align: middle;
    display: block;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    font-style: oblique;
    color: #3C3638;
    font-family: 'Poiret One', cursive;
}
h4 {
    display: block;
    vertical-align: middle;
    line-height: normal;
    font-weight: normal;
    font-size: 40px;
    font-style: oblique;
    color: #3C3638;
    font-family: 'Poiret One', cursive;
    margin-top: 0;
    margin-bottom: 50px;
}
ul {
    list-style-type: none;
}
ul > li {
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}
#main {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    z-index: 0;
    left: 0;
}
#main-desc {
    margin-top: : 100px;
    margin-bottom: : 40px;
}
#canvas {
    display: none;
    width: 1px;
    height: 1px;
    position: fixed;
}
#form {
    margin-top: 50px
}
label {
    margin-top: 50px;
    line-height: normal;
    font-size: 24px !important;
    font-style: oblique;
    color: #3C3638;
    font-family: 'Poiret One', cursive;
}
.text-block {
    text-align: left;
    width: 40%;
    margin: 0 auto;
    font-size: 30px;
    font-style: oblique;
    color: #3C3638;
    font-family: 'Poiret One', cursive;
}
#social-icons {
    margin-top: 100px;
}
#social-icons-list > li {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /* this fix is needed for IE7- */
}
#social-icons-list > li > a {
    display: block;
    width: 60px;
}
.box-title {
    background-color: #ccffcc;
}
.box-content {
    background-color: #cc3fcc;
}
.box {
    margin: 0 auto;
    border-radius: 5px;
    border-width: 5px;
    border: black;
    /*padding: 20px;*/
    width: 30%;
    border-style: solid;
    border-width: 1px;
}
table {
    width: 700px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table, tr, td:first-child {
    text-align: right;
}
table, tr, td:last-child {
    text-align: left;
}
.row {
    margin-top: 250px;
}
#schedule-content {
    display: inline-block;
}
.text {
    vertical-align: middle;
    line-height: normal;
    font-weight: normal;
    font-style: oblique;
    font-size: 28px;
    color: #3C3638;
    font-family: 'Poiret One', cursive;
}
a:visited {
    color: black;
}
a:link {
    color: black;
}
a {
    color: #0060B6;
    text-decoration: none;
}
a:hover {
    color: #00A0C6;
    text-decoration: none;
    cursor: pointer;
}
@media (min-width: 768px) {
    h1 {
        font-size: 148px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 40px;
    }
    h4 {
        font-size: 30px;
    }
    #text-block {
        display: inline-block;
        margin-top: 0px;
    }
}
